#life {
  font-family: Arial;
  text-align: center;
  font-size: 24px;
  color: darkblue;
  width: 75%;
  margin: auto;
  border: 3px darkblue solid;
  padding: 10px;
}

.me {
  color: darkblue;
  font-family: Arial;
  font-size: bold;
  text-align: center; 
  background-color: lightblue;
  border-color: darkblue;
  border-left-style: solid;
  border-right-style: solid;
}

h1 {
  color: darkblue;
  font-family: Arial;
  font-size: bold;
  text-align: center;
  background-color: lightblue;
  border-color: darkblue;
  border-left-style: solid;
  border-right-style: solid;
  position: sticky;
  top: 0;
}

body {
  background-color: #DEF4FF;
}

.list {
  font-family: Helvetica;
  color: darkblue;
  border: 3px darkblue solid;
  font-size: 18px;
  width: 75%;
  padding: 5px;
  margin: auto;
}

.image {
    text-align: center;
    margin: auto;
}